@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Archivo;
    font-weight: 400;
    font-size: 16px;
    background: linear-gradient(122.69deg, #EFD7EF 8%, #F5F9FC 39%, #F8EAE1 66%, #EAF8F9 91%);
    background-repeat: no-repeat;
}

.container {
    max-width: 1457px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* header style */

.site-header {
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__contact {
    height: 52px;
    width: 168px;
    background-color: #F83D8E;
    box-shadow: 0px 3px 22px 3px #F83D8E4F;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 17px 26px 18px 26px;
}

.header__buy {
    position: relative;
    width: 20px;
    height: 24px;
    border: none;
    background-color: transparent;
    margin-right: 52px;
    background-image: url('./assets/images/buy.png');
    background-size: 20px 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.header__buy::after {
    position: absolute;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #683292;
    color: #fff;
    left: 11px;
    bottom: -2px;
    border-radius: 50%;
    font-size: 7px;
    line-height: 13px;
    letter-spacing: 0%;
    content: "0";
}

.header__search {
    margin-right: 32px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/images/search.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}

.header__nav {
    margin-right: 57px;
    padding: 0 20px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__item {
    padding: 8px;
}

.nav__link {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #0F0200;
    transition: color 0.3s linear;
}

.nav__link::after {
    position: absolute;
    right: -15px;
    bottom: 7px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
    content: "";
    transition: border 0.3s linear;
}

.nav__item:hover .nav__link{
    color: #F83D8E;
}

.nav__item:hover .nav__link::after{
    border-top: 5px solid #F83D8E;
}